@import "./root.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.form-wrapper-cate{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

}
.form-right-cate{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.title-cate{
    color: var(--dark-blue);
    font-size: var(--rem-25);
    font-weight: bold;
    align-items: center;
    font-family: sans-serif;
    text-decoration: underline;
    margin-left: var(--rem-2);
}
.add-btn{
    font-size: var(--rem-2);
    font-family: sans-serif;
    /* margin-top: var(--rem-2); */
    /* border: 1px solid var(--white-color); */
    border: none;
    border-radius: 15px;
    height: 50px;
    width: 150px;
    color: var(--white-color);
    background-color: var(--cream-blue);
    cursor: pointer;
    margin-right: var(--rem-2);
}
.table-cate{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.table-title-cate{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* flex-direction: row; */
    /* margin-left: var(--rem-3); */
    /* align-items: center; */
    width: 100%;
    margin-top: var(--rem-2); 
    padding: calc(var(--rem-2) + 0.2vw) 0px;
    background-color: var(--light-blue-purple);
    border-radius: calc(var(--rem-1) + 0.2vw);
    
}

.row-cate{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* flex-direction: row; */
    /* justify-content: space-between; */
    /* align-items: center; */
    width: 100%;
    margin-top: var(--rem-05);
    background-color: var(--light-blue-white);
    border-radius: calc(var(--rem-1) + 0.2vw); 
    padding: var(--rem-2) 0px;
}
.grid-col{
    grid-template-columns: 1fr 1fr;
}
.cate-name{
    color: var(--dark-blue);
    font-size: var(--rem-2);
    font-family: sans-serif;
    /* margin-left: calc(var(--rem-3)*2); */
    width: 100%;
    text-align: center;
    margin: auto 0px;
}
.cate-desc{
    color: var(--dark-blue);
    font-size: var(--rem-2);
    font-family: sans-serif;
    text-align: center;
    margin: auto 0px;
    /* margin-left: calc(var(--rem-3)*5); */
}

.delete-edit{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 1.5vw;

}
.edit-icon{
    width: calc(var(--rem-2) + 1vw)
}
.edit-icon > img{
    width: 100%;
}
.delete-icon{
    width: calc(var(--rem-2) + 1vw)
}
.delete-icon > img{
    width: 100%;
}