<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/cate_manager.css" />
  </head>
  <body>
    <div class="form-wrapper-cate">
      <div class="form-right-cate">
        <p class="title-cate">Category Management</p>
        <button class="add-btn">Add Category</button>
      </div>
      <div class="table-cate">
        <div class="table-title-cate">
          <div class="cate-name">Category Name</div>
          <div class="cate-desc">Category Description</div>
        </div>
        <div class="row-cate">
          <div class="cate-name">Category Name</div>
          <div class="cate-desc">Category Description</div>
          <div class="delete-edit">
            <div class="edit-icon">
              <img src="../image/edit.png" alt="edit" />
            </div>
            <div class="delete-icon">
              <img src="../image/delete.png" alt="delete" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
