<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/cate_manager.css" />
  </head>
  <body>
    <div class="form-wrapper-cate">
      <div class="form-right-cate">
        <p class="title-cate">Category Management</p>
      </div>
      <div class="table-cate">
        <div class="table-title-cate grid-col">
          <div class="cate-name">Category Name</div>
          <div class="cate-desc">Category Description</div>
        </div>
        <div class="row-cate grid-col">
          <div class="cate-name">Category Name</div>
          <div class="cate-desc">Category Description</div>
        </div>
      </div>
    </div>
  </body>
</html>
