<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/login_register.css" />
  </head>
  <body>
    <div class="form-wrapper">
      <div class="form-left">
        <div class="logo-login">
          <img class="logo-left" src="../image/Logo.png" alt="Logo" />
        </div>
        <div class="image-login">
          <img
            class="image-left"
            src="../image/login_register.jpg"
            alt="Image"
          />
        </div>
      </div>
      <form action="" class="form-right" method="get">
        <p class="title-right">Login</p>
        <p class="sub-title-right">Log in your account</p>
        <input type="text" class="input-username" placeholder="Username" />
        <input type="password" class="input-password" placeholder="Password" />
        <button class="login-btn">Login</button>
      </form>
    </div>
  </body>
</html>
