<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/root.css">
    <link rel="stylesheet" href="../css/overviewQAmanager.css">
    <title>Overview QA Manager</title>
</head>

<body>
    <div class="departmentName-container">
        <header>Department name</header>

        <div class="content">
            <div class="row1">
                <div class="totalFeedback">
                    <p class="row1-col1-title">Total Feedback</p>
                    <p class="row1-col1-value">9999</p>
                </div>

                <div class="percentFeedback">
                    <p class="row1-col2-title">Percentage of Feedback</p>
                    <p class="row1-col2-value">99%</p>
                </div>

                <div class="totalContributor">
                    <p class="row1-col3-title">Total Feedback</p>
                    <p class="row1-col3-value">9999</p>
                </div>
            </div>

            <div class="row2">
                <p class="row2-title">Total Feedback Without Comment</p>
                <p class="row2-value">9999</p>
            </div>

            <div class="row3">
                <div class="col1">
                    <p class="row3-col1-title">Total Anonymous Feedback</p>
                    <p class="row3-col1-value">9999</p>
                </div>

                <div class="col2">
                    <p class="row3-col2-title">Total Anonymous Feedback</p>
                    <p class="row3-col2-value">9999</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>