<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/root.css">
    <link rel="stylesheet" href="../css/qaDepartmentsAdmin.css">
    <title>QA Departments</title>
</head>

<body>
    <div class="qaDepartmentAdmin-container">
        <header>QA Departments</header>

        <div class="tableManagement">
            <div class="thead">
                <div class="tbTitle">Name</div>
                <div class="tbTitle">DoB</div>
                <div class="tbTitle">Tel</div>
                <div class="tbTitle">Address</div>
                <div class="tbTitle">Email</div>
                <div class="tbTitle">Position</div>
                <div class="tbTitle">Department</div>
                <div class="tbTitle">Description</div>
            </div>

            <div class="tbody">
                <div class="tbBody">__/__/____</div>
                <div class="tbBody">Name</div>
                <div class="tbBody">0123456789</div>
                <div class="tbBody">a/b/c</div>
                <div class="tbBody">abc@gmail.com</div>
                <div class="tbBody">QA Management</div>
                <div class="tbBody">QA Management</div>
                <div class="tbBody">abcdxyz...</div>
            </div>

            <div class="tbody">
                <div class="tbBody">__/__/____</div>
                <div class="tbBody">Name</div>
                <div class="tbBody">0123456789</div>
                <div class="tbBody">a/b/c</div>
                <div class="tbBody">abc@gmail.com</div>
                <div class="tbBody">QA Management</div>
                <div class="tbBody">QA Management</div>
                <div class="tbBody">abcdxyz...</div>
            </div>

            <div class="tbody">
                <div class="tbBody">__/__/____</div>
                <div class="tbBody">Name</div>
                <div class="tbBody">0123456789</div>
                <div class="tbBody">a/b/c</div>
                <div class="tbBody">abc@gmail.com</div>
                <div class="tbBody">QA Management</div>
                <div class="tbBody">QA Management</div>
                <div class="tbBody">abcdxyz...</div>
            </div>
        </div>
    </div>
</body>

</html>