<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/root.css">
    <link rel="stylesheet" href="../css/qaDepartments.css">
    <title>QA Departments</title>
</head>

<body>
    <div class="qaDepartment-container">
        <header>Feedback Notification</header>

        <div class="tableManagement">
            <div class="thead">
                <div class="tbTitle">Author</div>
                <div class="tbTitle">Description</div>
                <div class="tbTitle">Time</div>
                <div class="tbTitle">Status</div>
            </div>

            <div class="tbody">
                <div class="tbBody">Author</div>
                <div class="tbBody">Description</div>
                <div class="tbBody">__:__:__</div>
                <div class="tbBody">Status</div>
            </div>
        </div>
    </div>
</body>

</html>