<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/root.css">
    <link rel="stylesheet" href="../css/qaDepartqaManager.css">
    <title>QA Departments QA Management</title>
</head>

<body>
    <div class="qaDepartmentqaMa-container">
        <div class="title">
            <header>QA Departments Management</header>

            <div class="btnFilter">
                <p>Filters</p>
                <img src="../image/filter.png">
            </div>
        </div>

        <div class="tableManagement">
            <div class="thead">
                <div class="tbTitle">Department name</div>
                <div class="tbTitle">Description</div>
                <div class="tbTitle">Staff</div>
                <div class="tbTitle">Feedback</div>
            </div>

            <div class="tbody">
                <div class="tbBody">Department name</div>
                <div class="tbBody">Description</div>
                <div class="tbBody">9999</div>
                <div class="tbBody">9999</div>
            </div>

            <div class="tbody">
                <div class="tbBody">Department name</div>
                <div class="tbBody">Description</div>
                <div class="tbBody">9999</div>
                <div class="tbBody">9999</div>
            </div>

            <div class="tbody">
                <div class="tbBody">Department name</div>
                <div class="tbBody">Description</div>
                <div class="tbBody">9999</div>
                <div class="tbBody">9999</div>
            </div>
        </div>
    </div>
</body>

</html>