<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/staff.css" />
  </head>
  <body>
    <div class="form-wrapper-cate">
      <div class="form-right-cate">
        <p class="title-cate">Staff</p>
      </div>
      <div class="table-cate">
        <div class="table-title-staff">
          <div class="cate-name">Name</div>
          <div class="cate-desc">DOB</div>
          <div class="cate-desc">Tel</div>
          <div class="cate-desc">Address</div>
          <div class="cate-desc">E-mail</div>
          <div class="cate-desc">Position</div>
          <div class="cate-desc">Department</div>
          <div class="cate-desc">Description</div>
        </div>
        <div class="row-staff">
            <div class="cate-name">Name</div>
            <div class="cate-desc">DOB</div>
            <div class="cate-desc">Tel</div>
            <div class="cate-desc">Address</div>
            <div class="cate-desc">E-mail</div>
            <div class="cate-desc">Position</div>
            <div class="cate-desc">Department</div>
            <div class="cate-desc">Description</div>
        </div>
      </div>
    </div>
  </body>
</html>
